
.project-title{
    border-right: 4px solid cornflowerblue;
}

.input-task{
    border:none;
}

.checkbox-medium{
    font-size: 0.2rem;
    margin-top:13px;
}

.tachado{
    text-decoration: line-through;
}
